<h1>編集/削除</h1>
<div>
  <table>
    <tr>
      <th class="content">内容</th>
      <th class="content_data">ツイート日時</th>
      <th class="content_data">編集/削除</th>
    </tr>
  </table>
</div>
<div class="table">
  <table>
    <% @blogs.each do |blog| %>
    <tr>
      <td class="content"><%= blog.content %></td>
      <td class="content_data"><%= l blog.created_at %></td>
      <td><%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集して良いですか？'} %></td>
      <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
    </tr>
    <% end %>
  </table>
</div>
