*= require_tree

html {
  max-height: 100%;
}

body {
  max-height: 80%;
}

.header {
  width: max;
  background-color: #2e9afe;
  height: 25px;
  padding-bottom: 20px;
}

header li {
  list-style: none;
  float: left;
  margin: 0;
}


.title {
  font-weight: boild;
  font-size: 20px;
  color: white;
  padding: 5px 30px 5px 0;
}

.header_link {
  padding: 10px 30px;
  color: black;
  margin: 0;
}

.header_link:hover {
  background-color: skyblue;
}

.footer {
  background-color: darkblue;
  text-align: center;
}

footer h3 {
  color: white;
}

table, td, th {
  border-collapse: collapse;
  border: solid 0.5px black; 
}

table {
  width: 100%;
}

.table {
  height: 300px;
  margin-bottom: 40px;
  overflow: scroll;
}

th, td {
  padding: 0 10px;
}

.blog_content {
  width: 500px;
  height: 300px;
}

.content {
  width: 60%;
}

.content_data {
  width: 20%;
  text-align: center;
}

.btn {
  background-color: skyblue;
  border-radius: 100%;
  border: none;
  width: 80px;
  height: 80px;
  outline: none;
}

.btn:hover {
  background-color: #2e9afe;
}

i {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
